ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inherit;
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
    list-style-type: none;
}

li a{
    /* display: inherit; */
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    
}


li a:hover{
    color: blue;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}

